* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo {
    width: 30px;
    margin-left: 20px;
}

.img-logo2 {
    width: 160px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    flex-wrap: wrap;
}

.div-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    margin-right: 20px;
}

.btn {
    text-decoration: none;
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #ff0043;
    transition: 0.5s;
    background-color: #ff0043;
    color: black;
}

@media (max-width: 325px) {
    .navbar-content {
        text-align: center;
        justify-content: center;
        column-gap: 8px;
    }
}
