body {
    background-color: blueviolet;
    font-family: Helvetica, sans-serif;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

hr {
    padding: 0;
    margin: 0;
    color: black;
}

.moon{
    color: aqua;
}